<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="page-container">
      <div class="auth-form">
        <h2>Login</h2>
        <form action="/auth/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required autocomplete="on"
            >
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required autocomplete="off"
            >
          </div>
          <button type="submit">Login</button>
          <div class="wheel" style="display: flex; justify-content: center; display: none;">
            <div class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
            </div>
            <svg style="display: none;" class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"> <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/> <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
            </svg>
        </form>
        <%-include('../partials/notification.ejs')%>


        <p>Don't have an account? <a href="/auth/register">Register here</a>.</p>
      </div>
    </div>

    <%- include('../partials/footer.ejs') %>
    <script src="/scripts/auth/login.js"></script>
  </body>
</html>