<nav class="navbar">
  <div>
    <a href="/"><img src="/logo.png" alt="site logo" /></a>
  </div>
  <ul class="Navitems">
    <li><a href="/">Home</a></li>
    <li><a href="/recipes">recipes</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
