<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs')%>
<body>
    <%-include('./partials/nav.ejs')%>

    <h1 class="notFoundText"> Error occured</h1>
    <img class="notFoundImg" src="/images/404nf.png" alt="not found image">
    <p class="notFoundText">Something went wrong. Please try again later.</p>

    <%-include('./partials/footer.ejs')%>
    <%-include('./partials/notification.ejs')%>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            showNotification("An error occurred. We're working on it.", 'var(--error-color)');
        });
    </script>
</body>
</html>