<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs')%>
  <body>
    <%-include('./partials/nav.ejs')%>
    <div class="page-container">

    <div id="content-wrap">
        <img src="/images/banner.jpg" alt="">
        <div class="aboutCenterImgText">
          <p>ABOUT US</p>
        </div>
        <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia excepturi dolorem, a,
             velit debitis quidem neque veritatis maiores eveniet modi sunt praesentium aliquam,
              sint magnam! Mollitia eius nihil laboriosam. Exercitationem.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia excepturi dolorem, a,
              velit debitis quidem neque veritatis maiores eveniet modi sunt praesentium aliquam,
               sint magnam! Mollitia eius nihil laboriosam. Exercitationem.
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia excepturi dolorem, a,
             velit debitis quidem neque veritatis maiores eveniet modi sunt praesentium aliquam,
              sint magnam! Mollitia eius nihil laboriosam. Exercitationem.
            </p>
            <div class="emojis">
            <a href="https://www.linkedin.com/in/oussama-njahi" target="_blank" rel="noopener noreferrer"><img src="/images/linkedin-svgrepo-com.svg" alt="linkedin"></a>
            <a href="https://github.com/Njahi98" target="_blank" rel="noopener noreferrer"><img src="/images/github-svgrepo-com.svg" alt="github"></a>
            <a href="mailto:njahioussama@outlook.com" target="_blank" rel="noopener noreferrer"><img src="/images/email-svgrepo-com.svg" alt="email"></a>
            </div>
    </div>
    
    <%-include('./partials/footer.ejs')%>

  </body>
</html>
