<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs')%>
  <body>
    <%-include('./partials/nav.ejs')%>
    <div class="page-container">

    <div id="content-wrap">
        <img src="/images/banner3.jpg" height="150" alt="">
        <div class="aboutCenterImgText">
          <p>CONTACT</p>
        </div>
        <div class="contact-container">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet harum sequi neque rem optio minus ducimus explicabo quidem ratione a in, veritatis accusantium eaque id! Similique excepturi nobis nam recusandae.</p>
          <form action="/contact" method="post" class="contact-form">
            <div class="contact-row">
              <div class="contact-name"><label for="name">Your name</label><input type="text" id="name" name="name" ></div>
              <div class="contact-email"><label for="email">Your email</label><input type="text" id="email" name="email" > </div>
            </div>
              <div class="contact-message">
              <textarea  name="message" id="message" rows="4"  placeholder="Your message"></textarea>
            </div>
            <div class="contact-form-action">
              <button type="submit">Send Message</button>
            </div>
            </form>
        </div>
    </div>
    
    <%-include('./partials/footer.ejs')%>

    <script>
      // simple input field validation
      const nameInput=document.querySelector('.contact-name input');
      const emailInput=document.querySelector('.contact-email input');
      const messageInput=document.querySelector('.contact-message textarea');
      const form= document.querySelector('.contact-form');

      const clearErrors =() => {
          document.querySelectorAll('.error').forEach(error => error.remove());
        }
        let focusApplied = false;

          function displayError(input, message) {
          const errorElement = document.createElement('p');
          errorElement.textContent = message;
          errorElement.style.color = "red";
          errorElement.classList.add('error');
          input.parentElement.appendChild(errorElement);

          if (!focusApplied) {
            input.focus();
            focusApplied = true;
           }
        }

        const validateEmail=(email)=> {
            const re = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return re.test(email);
        }

      function ValidateAndSubmit(e){
        e.preventDefault();
        focusApplied = false;
        clearErrors();  

        
       const nameValidation =()=> {
        try {
          if (!nameInput.value.trim()) {
          displayError(nameInput, "Name cannot be empty.");
          return false;
          }
          if(nameInput.value.trim().split(" ").length<2){
            displayError(nameInput,"Please provide a name with at least 2 words")
          return false;
        } 
        return true;
        } catch (error) {
          console.log(error);
        }
      }
       
        const emailValidation = ()=>{
          try {
            if(!validateEmail(emailInput.value)){
              displayError(emailInput,"Please provide a valid email")
          return false;
          }
          return true;
          } catch (error) {
            console.log(error);
          }
          
      }
        const messageValidation = ()=>{
          try {
            if(messageInput.value.trim().split(" ").length<3){
              displayError(messageInput,"you need to provide a name with at least three words")

          return false;
        }
        return true;
          } catch (error) {
            console.log(error);
          }       
        }
        if(nameValidation() && emailValidation() && messageValidation()){
          console.log("submitted");
          form.reset();
        }else{
          console.log("submit failed");
        }
      }
      

      form.addEventListener('submit',ValidateAndSubmit)


</script>

  </body>
</html>
