<!DOCTYPE html>
<html lang="en">
  <%-include('./partials/head.ejs')%>

  <body>
<%-include('./partials/nav.ejs') %>

<div class="page-container">

    <div id="content-wrap">
        <img src="/images/chef.jpg" alt="">
        <div class="indexCenterImgText">
          <p>DELICIOUS FOOD</p>   
            <p> A FINE RECIPE CATALOG</p>
        </div>
    </div>
</div>
<%-include('./partials/footer.ejs') %>

</body>
</html>

