<!DOCTYPE html>
<html lang="en">
  <%-include('../partials/head.ejs')%>
  <body>
    <%-include('../partials/nav.ejs')%>
    <div class="page-container">

      <div id="content-wrap">
          <img src="/banner2.jpg" alt="">
          <div class="recipeCenterImgText">
            <p>RECIPES</p>
          </div>
          <div class="newRecipe"><button class="newRecipeButton" >Add a new Recipe</button></div>
          <div class="recipesBorder">
          <%  if(recipes.length){ %>
              <%   recipes.forEach((recipe)=>{ %>
                <div class="recipeStyle">
                  <p><%=recipe.title %></p>
                </div>
             <%  })  %>
            <%} %>
          
          </div>
      </div>

    <%-include('../partials/footer.ejs')%>
  </body>
</html>
